In [1]:
# Loading necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("50_startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
df.shape

(50, 5)

In [4]:
# We need to predict profits

In [5]:
# Independent feature
X = df.iloc[:, :-1]
# dependent feature
y = df.iloc[:, -1]

### Handling Categorical Features

In [6]:
df["State"].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [7]:
# Going to use one-hot encoding technique
states = pd.get_dummies(X["State"], drop_first = True)

In [8]:
X.drop("State", inplace = True, axis = 1)
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [9]:
# Here we have more than 1 independent features
X = pd.concat([X, states], axis = 1)
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

### Train Test Split

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [11]:
type(X_train)

pandas.core.frame.DataFrame

In [12]:
type(y_train)

pandas.core.series.Series

### Linear Regression

In [13]:
# Model building and training
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [14]:
# Predictions
y_pred = model.predict(X_test)

In [15]:
type(y_pred)

numpy.ndarray

In [16]:
y_pred.shape

(10,)

In [17]:
# Evaluations
from sklearn.metrics import r2_score
scr = r2_score(y_test, y_pred)
print(scr)

0.9347068473282424